<table style="width:300px;border: 1px solid black;border-collapse:collapse;">
  <tr>
    <th style="border:1px solid black;">First Name</th>
    <th style="border:1px solid black;">Last Name</th>
    <th style="border:1px solid black;">Email Address</th>
    <th style="border:1px solid black;">Phone Number</th>
  </tr>
  
  <tr>
    <td style="border:1px solid black;"><%= @contact.first_name %></td>
    <td style="border:1px solid black;"><%= @contact.last_name %></td>
    <td style="border:1px solid black;"><%= @contact.email %></td>
    <td style="border:1px solid black;"><%= @contact.phone_number %></td>
  </tr>
</table>

