<p>Dear <%=  @contact.first_name %>,<br/>

<p>Thank you for subscribing to Global Coins Trading.</p>
<p>At Global Coins Trading, we have a simple goal to make Buying, Selling and Using Coins Easy. We are currently working hard on building an intuitive platform for you to help achieve that goal.
  To show how grateful we are to you for showing interest in our website, we will offer you discounts as a user of the beta version of our website. We will be contacting you as soon as the beta version of our website is ready to be tested.</p>
<p>If you have any questions or comments before our website is launched, please feel free to contact us at <b>Info@GlobalCoinsTrading.com</b></p><br/>


Thanks and Best Regards,<br/>

Global Coins Trading

